rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /folder/{folderId}{
      allow read; allow create; allow delete; allow update;
    }
    match/user/{userId}{
      allow read; allow create; allow delete; allow update;
      
      match/favorite/{favoriteId}{
        allow read; allow create; allow delete; allow update;
      }
      
      match/folder/{folderId}{
        allow read; allow create; allow delete; allow update;
      }
    }
  }
}