.actor__detail{
    display: flex;
    max-width: 1300px;
    padding: 40px;
    width: 100%;
    margin: 0 auto;
}

.actor__poster{
    display: flex;
    flex-direction: column;
}


.actor__poster > img{
    width: 100%;
    width: 300px;
    border-radius: 10px;
    height: 450px;
    height: auto;
}

.actor__meta{
    margin-top: 15px;
    padding: 15px;
}

.actor_meta > li{
    padding-bottom: 10px;
}

ul{
    list-style: none;
    padding: 40px;
}

li > h4 { 
    padding: 10px 0;
}


.actor__info{
    position: relative;    
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding-left: 40px;
    width: 70%;
}

.actor__info > h3{
    width: 100%;
}

.actor__info > h3 > span{
    font-weight: 400;
    font-size: 20px;
    color: gray;
    padding-left: 20px;
    height: 33px;
    line-height: 33px;
    flex-wrap: wrap;
}


.actor__description{
    margin-top: 40px;
    width: 100%;
}

.actor__carrer > p{
    padding: 20px;
    height: 200px;
    background-color: white;
    overflow-y: scroll;
    line-height: 1.4em;
    flex-wrap: wrap;
}

.actor__movies{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.actor__movielist{
    border-top: 2px solid lightgray;
    padding-top: 15px;
    display: flex;
    height: 270px;
    overflow-x: scroll;
    overflow-y: hidden;
}

.actor{
    padding-top: 60px;
}


