.movie__main{
    background-image: linear-gradient(to right, rgba(5.88%, 27.45%, 27.06%, 0.6) 150px, rgba(10.59%, 36.47%, 36.08%, 0.84) 100%) !important;
}
.movie__detail{
    display: flex;
    max-width: 1300px;
    padding: 40px;
    width: 100%;
    margin: 0 auto;
    color: white;
}

.movie__poster{
    width: 350px;
    min-width: 350px;
    position: relative;
}
.movie__poster > img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.movie__info{
    position: relative;
    align-content: center;
    display: flex;
}

.movie__info__wrapper{
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    box-sizing: border-box;
    padding-left: 40px;
}

.movie__title{
    margin-bottom: 24px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
}

.movie__info__title{
    width: 100%;
    display: flex;
}

.movie__info__title > h3{
    font-weight: 800;
    font-size: 25px;
    height: 40px;
    line-height: 40px;
}

.movie__info__title > h3 > span{
    font-weight: 300;
    font-size: 25px;
    margin: 0 10px;
}

.movie__info__description{
    max-height: 180px;
    margin-bottom: 30px;
    width: 85%;
}

.movie__info__description > p{
    padding: 20px;
    border-radius: 10px;
    height: 130px;
    line-height: 30px;
    overflow-y: scroll;
}

.movie__information{
    display: flex;
}

.movie__information > span{
    font-weight: 500;
    font-size: 16px;
    padding-left: 8px;
}

.movie__company{
    display: flex;
    width: 100%
}

.movie__company > img{
    width: 5%;
    height: 40px;
    margin: 30px;
}

.movie__subinfo{
    display: flex;
    flex-direction: column;
    max-width: 1300px;
    width: 80%;
    margin: 0 auto;
}

.movie__cast{
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
}

.movie__casts{
    border-top: 2px solid lightgray;
    padding-top: 15px;
    display: flex;
    height:  280px;
    overflow-x: scroll;
    overflow-y: hidden;
}


.movie__trailers {
    padding: 20px 40px;
}


.movie__trailerlist{
    border-top: 2px solid lightgray;
    padding-top: 15px;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
}

.movie__similler{
    display: flex;
    flex-direction: column;
    padding: 20px 40px;
}

.movie__simillers{
    border-top: 2px solid lightgray;
    padding-top: 15px;
    display: flex;
    height: 270px;
    overflow-x: scroll;
    overflow-y: hidden;
}







